  <header class="site-header">

    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
    <!-- bonus 1, 2, 3 - hamburger (nav.scss) -->
    <label for="menu-toggle" class="hamburger-btn" aria-label="deschide meniu">
      <div class="hamburger-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </label>

    <h1 class="logo-reflexie">
      <span class="logo-text">
        <span class="logo-icon"><i class="fas fa-paw" aria-hidden="true"></i></span> PETHUB
      </span>
      <span class="reflexie-text" aria-hidden="true">
        <span class="logo-icon"><i class="fas fa-paw" aria-hidden="true"></i></span> PETHUB
      </span>
    </h1>

    <nav>
      <ul>
        <li>
          <a href="/#acasa"><i class="fas fa-home" aria-hidden="true"></i> Acasa</a>
          <ul>
            <li><a href="/#promotii">Promotii</a></li>
            <li><a href="/#categorii">Calendar</a></li>
            <li><a href="/#recomandate">Utilizatori</a></li>
            <li><a href="/#testimoniale">Statistici</a></li>
          </ul>
        </li>
        <li>
          <a href="/produse"><i class="fas fa-shopping-bag" aria-hidden="true"></i> Produse</a>
          <ul>
            <li><a href="/caini">Pentru Caini</a></li>
            <li><a href="/pisici">Pentru Pisici</a></li>
            <li><a href="/pesti">Pentru Pesti</a></li>
            <li><a href="/rozatoare">Pentru Rozatoare</a></li>
          </ul>
        </li>
        <li><a href="/galerie"><i class="fas fa-images" aria-hidden="true"></i> Galerie</a></li>
        <li><a href="/ebook"><i class="fas fa-book-open" aria-hidden="true"></i> eBook</a></li>
        <li><a href="/despre"><i class="fas fa-users" aria-hidden="true"></i> Despre noi</a></li>
        <li><a href="/contact"><i class="fas fa-envelope" aria-hidden="true"></i> Contact</a></li>
      </ul>
    </nav>
  </header>
